/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/a.out
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/a.out
/Task2/Client/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/a.out
/Task2/Client/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/a.out
/Task2/Server/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/a.out
/Task2/Server/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/a.out
/Task2/AbstractCommsLibrary/cmake-build-debug/AbstractCommsLibrary.cbp
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/AbstractCommsLibrary.dir/build.make
/Task2/Client/cmake-build-debug/CMakeFiles/Client.dir/build.make
/Task2/Server/cmake-build-debug/CMakeFiles/Server.dir/build.make
/Task2/Client/cmake-build-debug/Client
/Task2/Client/cmake-build-debug/Client.cbp
/Task2/Client/src/Client.cpp
/Task2/Client/cmake-build-debug/CMakeFiles/Client.dir/src/Client.cpp.o
/Task2/Client/src/Client.h
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/clion-environment.txt
/Task2/Client/cmake-build-debug/CMakeFiles/clion-environment.txt
/Task2/Server/cmake-build-debug/CMakeFiles/clion-environment.txt
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/clion-log.txt
/Task2/Client/cmake-build-debug/CMakeFiles/clion-log.txt
/Task2/Server/cmake-build-debug/CMakeFiles/clion-log.txt
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/cmake.check_cache
/Task2/Client/cmake-build-debug/CMakeFiles/cmake.check_cache
/Task2/Server/cmake-build-debug/CMakeFiles/cmake.check_cache
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/AbstractCommsLibrary.dir/cmake_clean.cmake
/Task2/Client/cmake-build-debug/CMakeFiles/Client.dir/cmake_clean.cmake
/Task2/Server/cmake-build-debug/CMakeFiles/Server.dir/cmake_clean.cmake
/Task2/AbstractCommsLibrary/cmake-build-debug/cmake_install.cmake
/Task2/Client/cmake-build-debug/cmake_install.cmake
/Task2/Server/cmake-build-debug/cmake_install.cmake
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeCache.txt
/Task2/Client/cmake-build-debug/CMakeCache.txt
/Task2/Server/cmake-build-debug/CMakeCache.txt
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/3.19.2/CMakeCCompiler.cmake
/Task2/Client/cmake-build-debug/CMakeFiles/3.19.2/CMakeCCompiler.cmake
/Task2/Server/cmake-build-debug/CMakeFiles/3.19.2/CMakeCCompiler.cmake
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
/Task2/Client/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
/Task2/Server/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
/Task2/Client/cmake-build-debug/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
/Task2/Server/cmake-build-debug/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/Task2/Client/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/Task2/Server/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_C.bin
/Task2/Client/cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_C.bin
/Task2/Server/cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_C.bin
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_CXX.bin
/Task2/Client/cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_CXX.bin
/Task2/Server/cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_CXX.bin
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/Task2/Client/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/Task2/Server/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/Task2/AbstractCommsLibrary/CMakeLists.txt
/Task2/Client/CMakeLists.txt
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/CMakeOutput.log
/Task2/Client/cmake-build-debug/CMakeFiles/CMakeOutput.log
/Task2/Server/cmake-build-debug/CMakeFiles/CMakeOutput.log
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/3.19.2/CMakeSystem.cmake
/Task2/Client/cmake-build-debug/CMakeFiles/3.19.2/CMakeSystem.cmake
/Task2/Server/cmake-build-debug/CMakeFiles/3.19.2/CMakeSystem.cmake
/Task2/AbstractCommsLibrary/src/Comms.cpp
/Task2/Client/src/Comms.cpp
/Task2/Client/cmake-build-debug/CMakeFiles/Client.dir/src/Comms.cpp.o
/Task2/Server/cmake-build-debug/CMakeFiles/Server.dir/src/Comms.cpp.o
/Task2/AbstractCommsLibrary/src/Comms.h
/Task2/Client/src/Comms.h
/Task2/Server/cmake-build-debug/CMakeFiles/Server.dir/src/ConnectionCouldNotBeEstablishedOnPortException.cpp.o
/Task2/Client/src/exceptions/ConnectionQuitException.cpp
/Task2/Client/cmake-build-debug/CMakeFiles/Client.dir/src/exceptions/ConnectionQuitException.cpp.o
/Task2/Client/src/exceptions/ConnectionQuitException.h
/Task2/Server/cmake-build-debug/CMakeFiles/Server.dir/src/exceptions/CouldNotBindPortException.cpp.o
/Task2/Server/cmake-build-debug/CMakeFiles/Server.dir/src/exceptions/CouldNotConnectToClientException.cpp.o
/Task2/Server/cmake-build-debug/CMakeFiles/Server.dir/src/exceptions/CouldNotConnectToSocketException.cpp.o
/Task2/Client/src/exceptions/CouldNotEstablishConnectionException.cpp
/Task2/Client/cmake-build-debug/CMakeFiles/Client.dir/src/exceptions/CouldNotEstablishConnectionException.cpp.o
/Task2/Client/src/exceptions/CouldNotEstablishConnectionException.h
/Task2/Client/src/exceptions/CouldNotSendUserInputException.cpp
/Task2/Client/cmake-build-debug/CMakeFiles/Client.dir/src/exceptions/CouldNotSendUserInputException.cpp.o
/Task2/Client/src/exceptions/CouldNotSendUserInputException.h
/Task2/Client/cmake-build-debug/CMakeFiles/Client.dir/CXX.includecache
/Task2/Server/cmake-build-debug/CMakeFiles/Server.dir/CXX.includecache
/Task2/Client/cmake-build-debug/CMakeFiles/Client.dir/depend.internal
/Task2/Server/cmake-build-debug/CMakeFiles/Server.dir/depend.internal
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/AbstractCommsLibrary.dir/depend.make
/Task2/Client/cmake-build-debug/CMakeFiles/Client.dir/depend.make
/Task2/Server/cmake-build-debug/CMakeFiles/Server.dir/depend.make
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/AbstractCommsLibrary.dir/DependInfo.cmake
/Task2/Client/cmake-build-debug/CMakeFiles/Client.dir/DependInfo.cmake
/Task2/Server/cmake-build-debug/CMakeFiles/Server.dir/DependInfo.cmake
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/AbstractCommsLibrary.dir/flags.make
/Task2/Client/cmake-build-debug/CMakeFiles/Client.dir/flags.make
/Task2/Server/cmake-build-debug/CMakeFiles/Server.dir/flags.make
/Task2/AbstractCommsLibrary/cmake-build-debug/Testing/Temporary/LastTest.log
/Task2/Client/cmake-build-debug/Testing/Temporary/LastTest.log
/Task2/Server/cmake-build-debug/Testing/Temporary/LastTest.log
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/AbstractCommsLibrary.dir/link.txt
/Task2/Client/cmake-build-debug/CMakeFiles/Client.dir/link.txt
/Task2/Server/cmake-build-debug/CMakeFiles/Server.dir/link.txt
/Task2/AbstractCommsLibrary/src/main.cpp
/Task2/Client/src/main.cpp
/Task2/Client/cmake-build-debug/CMakeFiles/Client.dir/src/main.cpp.o
/Task2/Server/cmake-build-debug/CMakeFiles/Server.dir/src/main.cpp.o
/Task2/AbstractCommsLibrary/cmake-build-debug/Makefile
/Task2/Client/cmake-build-debug/Makefile
/Task2/Server/cmake-build-debug/Makefile
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/Makefile.cmake
/Task2/Client/cmake-build-debug/CMakeFiles/Makefile.cmake
/Task2/Server/cmake-build-debug/CMakeFiles/Makefile.cmake
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/Makefile2
/Task2/Client/cmake-build-debug/CMakeFiles/Makefile2
/Task2/Server/cmake-build-debug/CMakeFiles/Makefile2
/Task2/Client/src/exceptions/NoResponseFromServerException.cpp
/Task2/Client/cmake-build-debug/CMakeFiles/Client.dir/src/exceptions/NoResponseFromServerException.cpp.o
/Task2/Client/src/exceptions/NoResponseFromServerException.h
/Task2/Server/cmake-build-debug/CMakeFiles/Server.dir/src/NoResponseReceivedException.cpp.o
/Task2/Client/src/exceptions/NoSocketAvailableException.cpp
/Task2/Client/cmake-build-debug/CMakeFiles/Client.dir/src/exceptions/NoSocketAvailableException.cpp.o
/Task2/Server/cmake-build-debug/CMakeFiles/Server.dir/src/exceptions/NoSocketAvailableException.cpp.o
/Task2/Client/src/exceptions/NoSocketAvailableException.h
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/AbstractCommsLibrary.dir/progress.make
/Task2/Client/cmake-build-debug/CMakeFiles/Client.dir/progress.make
/Task2/Server/cmake-build-debug/CMakeFiles/Server.dir/progress.make
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/progress.marks
/Task2/Client/cmake-build-debug/CMakeFiles/progress.marks
/Task2/Server/cmake-build-debug/CMakeFiles/progress.marks
/Task2/Server/cmake-build-debug/Server
/Task2/Server/cmake-build-debug/Server.cbp
/Task2/Server/cmake-build-debug/CMakeFiles/Server.dir/src/Server.cpp.o
/Task2/AbstractCommsLibrary/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/Task2/Client/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/Task2/Server/cmake-build-debug/CMakeFiles/TargetDirectories.txt
